<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Admin</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <form method = "get" action ="/list">
        <input type = "submit" value = "사용자조회"/>
    </form>
    <form method = "post" action ="/save">
        <input type = "submit" value = "사용자추가"/>
    </form>
    <form method = "post" action ="/update">
        <input type = "submit" value = "사용자정보변경"/>
    </form>
    <form method = "post" action ="/delete">
        <input type = "submit" value = "사용자삭제"/>
    </form>
	<script src="/webjars/jquery/3.4.0/dist/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>