<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>게시판</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>


<div th:each="get_datas : ${get_data}">
    <p> 회원ID :</p> <span  name="id1" type="text" th:text="${get_datas.id}" >  </span>
    <p> 회원NAME :</p> <span  name="name1" type="text"  th:text="${get_datas.name}"> </span>
</div>
<div>
    <h4>댓글 작성</h4>
    <textarea id="re_text"rows=10 cols=10 style="text-align:center;"></textarea>
    <button id="save_re"> 저장 </button>
</div>


<form method = "post" action ="/home">
    <input type = "submit" value = "메인으로"/>
</form>
<script type="text/javascript">
$("#save_re").click(function(){
    console.log($("#re_text").text());
});

</script>





</body>

</html>
