<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>List</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<table>
    <thead>
        <tr>
            <th> ID </th>
            <th> NAME </th>s
            <th> address </th>
            <th> 사용자 정보 변경 </th>
        </tr>
    </thead>
    <tbody>


        <tr th:if="${lists.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="list : ${lists}">
                <td name="id1" th:value="${list.id}" th:text="${list.id}" th:style="'width: 100px'"></td>
                <td th:text="${list.name}" th:style="'width: 100px'"></input></td>
                <td th:text="${list.address}" th:style="'width: 100px'"></input></td>
                <td th:style="'width: 200px'">
                    <a th:href="@{'/update/' + ${list.id}}">
                        <span>UPDATE</span>
                    </a>
                </td>
        </tr>

    </tbody>
</table>
<div class="container">
    <div class="row">
        <ul th:fragment="pagination" class="pagination">
            <li th:class="${lists.number eq 0}?'disabled':''">
                <a th:if="${lists.number eq 0}" href="javascript:void(0)" aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a>
                <a th:unless="${lists.number eq 0}" th:href="@{__${#httpServletRequest.requestURI}__(page=${lists.number-1})}"  aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a>
            </li>

            <li th:each="no:${#numbers.sequence(0, lists.totalPages-1)}" th:class="${lists.number eq no}?'active':''">
                <a th:href="@{__${#httpServletRequest.requestURI}__(page=${no})}" th:inline="text">[[${no+1}]]</a>
            </li>

            <li th:class="${lists.number+1 ge lists.totalPages}?'disabled':''">
                <a th:if="${lists.number+1 ge lists.totalPages}" href="javascript:void(0)"   aria-label='Next'><span aria-hidden='true'>&raquo;</span></a>
                <a th:unless="${lists.number+1 ge lists.totalPages}" th:href="@{__${#httpServletRequest.requestURI}__(page=${lists.number+1})}"  aria-label='Next'><span aria-hidden='true'>&raquo;</span></a>
            </li>
        </ul>
    </div>
</div>

    <form method = "post" action ="/">
        <input type = "submit" value = "메인으로"/>
    </form>

	<script src="/webjars/jquery/3.4.0/dist/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>