<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>List</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<table>
    <thead>
        <tr>
            <th> ID </th>
            <th> NAME </th>
            <th> 사용자 정보 변경 </th>
        </tr>
    </thead>
    <tbody>


        <tr th:if="${lists.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="list : ${lists}">
                <td name="id1" th:value="${list.id}" th:text="${list.id}" th:style="'width: 100px'"></td>
                <td th:text="${list.name}" th:style="'width: 100px'"></input></td>
                <td th:style="'width: 200px'">
                    <a th:href="@{'/update/' + ${list.id}}">
                        <span>UPDATE</span>
                    </a>
                </td>
        </tr>

    </tbody>
</table>
    <form method = "post" action ="/">
        <input type = "submit" value = "메인으로"/>
    </form>

	<script src="/webjars/jquery/3.4.0/dist/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>