<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>update</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<form  method="post" action="/insert_table">
		 <!--  <input  name="id1" type="text" th:value="${id2}" > 회원ID--> 
		<input  name="name1" type="text"  th:value="${name2}"> 회원NAME
		<input type="submit" id="btn">
	</form>
	
    <form method = "post" action ="/admin">
        <input type = "submit" value = "메인으로"/>
    </form>

	<script src="/webjars/jquery/3.4.0/dist/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>